#nav{
	width:100%;

}

.nav_wrap{
	width:100%;
	padding:40px 0;
	background:#1f60e9;

}


.nav_wrap p{
	width:100%;
	text-align:center;
	color:#fff;
	font-size:20px;
	font-weight:500;
}

.nav_wrap p a{
	font-size:20px;
}